/*notes:
****************************************
for latter use:
_______________

.active{
	font-size:15px;
	color:crimson;
	font-weight:bold;
	text-transform:uppercase;
}

****************************************
*/


/*Utilities*/
/*containers*/
.container{
	width:70%;
	overflow:hidden;
	margin:0 auto;
}

.flex{
	display:flex;
	justify-content:center;
	align-items:center;
}

.card{
	padding:15px;
	border-radius:25px;
}

.box{
	max-width:500px;
}

/*font style & design*/
ul{
	margin:0;
	padding:0;
}

li{
	display:inline-block;
	list-style:none;
}

a{
	text-decoration:none;
}

img{
	width:100%;
	height:100%;
}

.shadowing{
	box-shadow:0 5px 10px rgba(0,0,0,.3);
}


/*Media Query Section*/
/*Tablet screen*/
@media only screen and(max-width:768px){
	.container{
		width:100%;
		padding:0 20px;
		overflow:visible;
	}
}

/*Phone screen*/
@media only screen and(max-width:520px){
	.container{
		width:100%;
		padding:0;
		overflow:visible;
	}

	#about{
		width:100%;
		padding:20px 10px;
	}

	#about p{
		font-size:1rem;
   }

	.card{
		margin:auto 10px;
		padding:10px;
		border-radius:15px;
		box-shadow:0 5px 10px rgba(0,0,0,.3);
		background-color:#fff;
	}
}



