:root{
	--dark-color:rgba(0,0,0,0.9);
	--light-color:#ffffff;
	--btn-color:steelblue;
	--backgroundColor-body:lightblue;
}

*{
	margin:0;
	padding:0;
	font-family:Arial,Helvetica,sans-serif;
	box-sizing:border-box;
}

body{
	margin:0;
	padding:0;
	min-height:100vh;
	background-color:var(--backgroundColor-body);
}

.container{
	padding:0 24px;
	width:100%;
	overflow:hidden;
	margin:0 auto;
}

.flex{
	height:100vh;
	display:flex;
	justify-content:center;
	align-items:center;
}

.card{
	width:500px;
	padding:70px 30px 44px;
	background-color:var(--light-color);
	box-shadow:0 5px 10px rgba(0,0,0,0.3);
	border-radius:15px;
}

form{
	width:100%;
	display:flex;
	flex-direction:column;
}

.content{
	margin-bottom:30px;
	text-transform:capitalize;
}

h2,h3{
	text-align:center;
}

h2{
	margin:10px auto;
	font-weight:600;
	font-size:35px;
}

h3{
	font-size:16px;
	font-weight:500;
	color:#aaa;
}

input{
	height:56px;
	padding:0 16px;
	border:0;
	font-size:16px;
}

input[type="text"],
input[type="password"]{
	margin:10px 0;
	border:2px solid #ebebeb;
}

input:focus{
	outline:none;
}

a{
	text-decoration:none;
	font-size:14px;
	font-weight:bold;
	margin-bottom:30px;
	display:inline-block;
	text-transform:capitalize;
	color:skyblue;
}

input[type="submit"]{
	width:100%;
	font-weight:600;
	color:var(--light-color);
	background-color:var(--btn-color);
	border-radius:8px;
	box-shadow:0 5px 10px rgba(0,0,0,0.3);
	cursor:pointer;
}

.btn:hover{
	background-color:lightblue;
	border:none;
	box-shadow:none;
}







